{% extends 'employee/base.html' %}

{% block body %}

    <br>
    <h1 class="text-center mb-5">Administrative Assistant</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-1">

    </div>
    <div class="col-sm-10">
      <p>We are looking for a master multi-tasker with excellent communication skills and upbeat attitude to organize our company’s day-to-day operations. Ideal candidate will be able to provide clerical support to our managers and employees and coordinate most daily administrative activities with polite and professional assistance via phone and email.  Handling associate schedules and ensuring coverage is in place as needed. Candidate must be comfortable with computers (office software e.g MS Office) and general office task, excel at both verbal and written communication with a genuine desire to meet the needs of others.</p>
      <br>
  </div>
  <div class="col-sm-1">

  </div>
  <div class="row">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-8">
        <p>Hours: Monday - Friday 8AM-4PM</p>
      <br>
  <p>Qualifications: </p>
  <ul>
  <li>Must be at least 21 years old</li>
  <li>Some Home Care Knowledge a plus</li>
  <li>Excellent computer skills, especially typing</li>
  <li>Attention to detail</li>
  <li>Familiarity with office equipment, including printers and fax machines</li>
  <li>Experience with office management tools (MS Office software, in particular)</li>
  <li>Excellent organizational and time-management skills</li>
  <li>Strong written and oral communication skills</li>
  <li>Problem-solving attitude with an eye for detail</li>
  <li>High school diploma; additional qualifications as an Office Administrator or Secretary are a plus</li>
  <li>Multilingual a plus (not a required)</li>
  </ul>
  <h3>Duties:</h3>
      <ul>
        <li>Answer and redirect phone calls</li>
        <li>Book meetings and schedule appointments</li>
        <li>Handle queries from managers and employees</li>
        <li>Ordering office stationery and supplies</li>
        <li>Maintain internal databases</li>
        <li>Keep employee records (physical and digital)</li>
        <li>Maintain a filing system for data on client</li>
        <li>Distribute incoming and outgoing mail</li>
        <li>Handle general office task, prepare regular reports and presentations</li>
        <li>Organize, store and print company documents as needed</li>
        <li>Distribute incoming and outgoing mail</li>
        <li>Update office policies and ensure compliance with them</li>
        <li>Anticipate the needs of others in order to ensure their seamless and positive experience</li>
  </ul>
      <br>
      <br>
    </div>
    <div class="col-sm-2">

    </div>
  </div>
</div>
<p class="text-center mb-5"><a href="{% url 'employee:employee-create'%}">Apply Now</a></p>


{% endblock %}
