{% extends 'employee/base.html' %}



{% block body %}


  <!--BANNER START -->

    <!-- <div class="container">
      <div class="row">
        <div class="jumbotron">
            <img style="width:100%" src="img/allabouthomecare.png">
        </div>
      </div>
    </div> -->


  <!--BANNER END-->
<!-- <div class="container">
  <div class="row">
    <div class="cta-1">
  <div class="container">
    <div class="row text-center white">
      <h1 class="cta-title">Join the Team!</h1>
    </div>
  </div>
</div> -->

<!--Form START-->
  <br>
  <h1 class="text-center mt-5">RECOVERY ASSISTANT Position</h1>
<div class="container" id="career">
  <br>
<p>Hours: Varied – according to Recovery Plan</p>
<p>Qualifications: Be at least 18 yrs old</p>
<p>Possess at least a high school diploma or GED</p>
<p>Possess a valid Connecticut driver’s license or state issued Identification card</p>
<h3>Duties:</h3>
  <ul>
   <li>Performing the following tasks if the participant (by reason of physical or psychiatric disability) is unable to perform them, or assisting, or cueing the participant to perform them</li>
      <li>Meal planning and preparation, shopping, housekeeping (e.g., changing linens, washing dishes, vacuuming/dusting, laundry, mending clothing repairs), basic household tasks (e.g., regulating home temperature, storing food appropriately, resolving issues about bill paying).</li>
      <li>Dressing, personal grooming and hygiene (e.g., bathing, dressing, and oral care).</li>
      <li>Appropriate use of emergency medical services.</li>
      <li>Appropriate use of natural community supports (e.g., social clubs, faith-based supports).</li>
      <li>Appropriate use of routine medical/dental services.</li>
      <li>Use of medications as prescribed, including self administration of medications.</li>
      <li>Healthy habits (e.g., healthy diet, exercise, and behaviors designed to alleviate stress).</li>
      <li>Fulfillment of personal commitments, and adherence to scheduled appointments/meetings (e.g., clinical, vocational, educational, and judicial/court).</li>
      <li>Supportive and problem solving-oriented discussions with the participant.</li>
      <li>Assisting or cueing the participant to perform or become engaged in family, social, and recreational activities.</li>
      <li>Assisting or cueing the participant to avoid risky behaviors (e.g., unprotected sex, smoking/excessive use of tobacco products, unsafe driving/driving without seatbelt, unsafe relationships, criminal activities), substance abuse, overspending, unnecessary conflicts.</li>
      <li>Establishing and maintaining a helpful, supportive, companionship relationship with the participant that involves such activities as:
  Escorting the participant to necessary medical, dental, or personal business appointments, Reading to or for the participant, Engaging in or discussing recreational, hobby, or sport-related activities.</li>
      <li>Other activities directed at reducing disability, restoring participant functioning and achieving independent participation in social, interpersonal, family, or community activities and full community re-integration and independence;
  Participation in waiver Recovery Plan development and quarterly Recovery Plan update meetings, if requested by the DMHAS Support Coordinator; and Travel with a participant when the Recovery Assistant is also engaged in a qualifying waiver service activity.</li>
</ul>
  <br>
  <p class="text-center"><a href="{% url 'employee:employee-create'%}" >Apply Now</a></p>
  <br>

</div>
  </div>
</div>

{% endblock %}
