/*  GRID OF One   ============================================================================= */


.span_1_of_1 {
	width: 100%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_1_of_1 {
		width: 100%; 
	}
}